In [31]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')
folder_location = '/content/drive/MyDrive/11cm_rotation_flat_wall.csv'
df = pd.read_csv(folder_location)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Reading_1,Left_1,Right_1,theta_1,theta_12,Reading_2,Left_2,Right_2,theta_2,theta_22,...,theta_32,Reading_4,Left_4,Right_4,theta_4,theta_42,Reading_5,Left_5,Right_5,theta_5
0,0,9784,11332,0.00,NaN,0,9048,10184,0.00,NaN,...,NaN,0,8872,10056,0.00,NaN,0,8872,10056,0.00
1,1,9572,11168,-0.01,NaN,1,8748,9864,-0.02,NaN,...,NaN,1,8580,9820,-0.01,NaN,1,8580,9820,-0.01
2,2,9356,10948,-0.01,NaN,2,8644,9748,-0.02,NaN,...,NaN,2,8488,9652,-0.01,NaN,2,8488,9652,-0.01
3,3,9112,10664,-0.04,NaN,3,8356,9560,-0.05,NaN,...,NaN,3,8228,9432,-0.04,NaN,3,8228,9432,-0.04
4,4,9068,10312,-0.04,NaN,4,8224,9236,-0.05,NaN,...,NaN,4,7996,9072,-0.04,NaN,4,7996,9072,-0.04
5,5,8648,9872,-0.08,NaN,5,8120,8912,-0.08,NaN,...,NaN,5,7812,8720,-0.08,NaN,5,7812,8720,-0.08
6,6,8456,9468,-0.08,NaN,6,7832,8620,-0.08,NaN,...,NaN,6,7580,8412,-0.08,NaN,6,7580,8412,-0.08
7,7,8120,9224,-0.12,NaN,7,7680,8380,-0.12,NaN,...,NaN,7,7340,8040,-0.12,NaN,7,7340,8040,-0.12
8,8,7876,8800,-0.12,NaN,8,7528,8172,-0.12,NaN,...,NaN,8,7164,7784,-0.12,NaN,8,7164,7784,-0.12
9,9,7756,8512,-0.16,NaN,9,7336,7760,-0.16,NaN,...,NaN,9,6856,7596,-0.16,NaN,9,6856,7596,-0.16
10,10,7468,8276,-0.16,NaN,10,7144,7724,-0.16,NaN,...,NaN,10,6788,7336,-0.16,NaN,10,6788,7336,-0.16
11,11,7272,7900,-0.20,NaN,11,6964,7472,-0.20,NaN,...,NaN,11,6652,7116,-0.20,NaN,11,6652,7116,-0.20
12,12,7224,7712,-0.20,NaN,12,6888,7316,-0.20,NaN,...,NaN,12,6548,6996,-0.20,NaN,12,6548,6996,-0.20
13,13,6944,7528,-0.25,NaN,13,6744,7164,-0.24,NaN,...,NaN,13,6492,6772,-0.25,NaN,13,6492,6772,-0.25
14,14,6820,7348,-0.25,NaN,14,6520,6964,-0.24,NaN,...,NaN,14,6324,6656,-0.25,NaN,14,6324,6656,-0.25
15,15,6680,7120,-0.29,NaN,15,6496,6748,-0.29,NaN,...,NaN,15,6212,6444,-0.29,NaN,15,6212,6444,-0.29
16,16,6548,6848,-0.29,NaN,16,6520,6596,-0.29,NaN,...,NaN,16,6116,6348,-0.29,NaN,16,6116,6348,-0.29
17,17,6444,6816,-0.33,NaN,17,6280,6496,-0.33,NaN,...,NaN,17,6100,6188,-0.34,NaN,17,6100,6188,-0.34
18,18,6228,6656,-0.33,NaN,18,6212,6328,-0.33,NaN,...,NaN,18,5992,6072,-0.34,NaN,18,5992,6072,-0.34
19,19,6264,6452,-0.38,NaN,19,6264,6232,-0.38,NaN,...,NaN,19,5976,5988,-0.38,NaN,19,5976,5988,-0.38
20,20,6204,6352,-0.38,NaN,20,6136,6164,-0.38,NaN,...,NaN,20,5900,5960,-0.38,NaN,20,5900,5960,-0.38
21,21,6100,6252,-0.42,NaN,21,5976,6032,-0.42,NaN,...,NaN,21,5868,5884,-0.43,NaN,21,5868,5884,-0.43
22,22,6116,6208,-0.42,NaN,22,6080,6072,-0.42,NaN,...,NaN,22,5852,5824,-0.43,NaN,22,5852,5824,-0.43
23,23,6132,6072,-0.46,NaN,23,6120,6036,-0.47,NaN,...,NaN,23,5856,5728,-0.47,NaN,23,5856,5728,-0.47
24,24,6036,6052,-0.46,NaN,24,6116,5988,-0.47,NaN,...,NaN,24,5852,5752,-0.47,NaN,24,5852,5752,-0.47
25,25,6032,6020,-0.51,NaN,25,6152,6008,-0.51,NaN,...,NaN,25,5872,5724,-0.51,NaN,25,5872,5724,-0.51
26,26,6004,6304,-0.51,NaN,26,6152,5972,-0.51,NaN,...,NaN,26,6008,6076,-0.51,NaN,26,6008,6076,-0.51
27,27,6036,5944,-0.55,NaN,27,6268,5948,-0.55,NaN,...,NaN,27,5960,5752,-0.55,NaN,27,5960,5752,-0.55
28,28,6064,5928,-0.55,NaN,28,6304,5960,-0.55,NaN,...,NaN,28,6028,5712,-0.55,NaN,28,6028,5712,-0.55
29,29,6072,5920,-0.59,NaN,29,6332,6020,-0.59,NaN,...,NaN,29,6072,5800,-0.59,NaN,29,6072,5800,-0.59
30,30,6112,5920,-0.59,NaN,30,6476,6008,-0.59,NaN,...,NaN,30,6148,5816,-0.59,NaN,30,6148,5816,-0.59
31,31,6148,5912,-0.63,NaN,31,6528,6052,-0.63,NaN,...,NaN,31,6176,5944,-0.64,NaN,31,6176,5944,-0.64
32,32,6280,5968,-0.63,NaN,32,6544,6080,-0.63,NaN,...,NaN,32,6464,5932,-0.64,NaN,32,6464,5932,-0.64
33,33,6284,5960,-0.67,NaN,33,6748,6136,-0.68,NaN,...,NaN,33,6464,5976,-0.68,NaN,33,6464,5976,-0.68
34,34,6372,5996,-0.67,NaN,34,6796,6188,-0.68,NaN,...,NaN,34,6576,6040,-0.68,NaN,34,6576,6040,-0.68
35,35,6624,6060,-0.71,NaN,35,6932,6304,-0.73,NaN,...,NaN,35,6724,6108,-0.73,NaN,35,6724,6108,-0.73
36,36,6552,6088,-0.71,NaN,36,7216,6380,-0.73,NaN,...,NaN,36,6900,6216,-0.73,NaN,36,6900,6216,-0.73
37,37,6612,6088,-0.75,NaN,37,7316,6528,-0.77,NaN,...,NaN,37,7092,6352,-0.78,NaN,37,7092,6352,-0.78
38,38,6828,6888,-0.75,NaN,38,7500,6636,-0.77,NaN,...,NaN,38,7288,6392,-0.78,NaN,38,7288,6392,-0.78
39,39,6964,6320,-0.79,NaN,39,7564,6800,-0.81,NaN,...,NaN,39,7476,6504,-0.82,NaN,39,7476,6504,-0.82
40,40,7112,6332,-0.79,NaN,40,9036,6932,-0.81,NaN,...,NaN,40,7672,6736,-0.82,NaN,40,7672,6736,-0.82
41,41,7372,6464,-0.83,NaN,41,8296,7120,-0.86,NaN,...,NaN,41,8032,6844,-0.87,NaN,41,8032,6844,-0.87
42,42,7476,6612,-0.83,NaN,42,8636,7344,-0.86,NaN,...,NaN,42,8532,7108,-0.87,NaN,42,8532,7108,-0.87
43,43,7676,6760,-0.87,NaN,43,9068,7592,-0.90,NaN,...,NaN,43,8792,7372,-0.91,NaN,43,8792,7372,-0.91
44,44,7904,6900,-0.87,NaN,44,9488,7768,-0.90,NaN,...,NaN,44,9156,7568,-0.91,NaN,44,9156,7568,-0.91
45,45,8284,7080,-0.91,NaN,45,10048,8108,-0.95,NaN,...,NaN,45,9908,7928,-0.96,NaN,45,9908,7928,-0.96
46,46,8508,7256,-0.91,NaN,46,10620,8560,-0.95,NaN,...,NaN,46,10100,8120,-0.96,NaN,46,10100,8120,-0.96
47,47,8820,7540,-0.96,NaN,47,11616,9032,-1.00,NaN,...,NaN,47,10920,8632,-1.00,NaN,47,10920,8632,-1.00
48,48,9368,7804,-0.96,NaN,48,12528,9688,-1.00,NaN,...,NaN,48,11804,9184,-1.00,NaN,48,11804,9184,-1.00
49,49,9764,8080,-1.00,NaN,49,14024,10300,-1.05,NaN,...,NaN,49,12960,9748,-1.05,NaN,49,12960,9748,-1.05

In [59]:
def create_interpolated_dataframes(df, left_cols, right_cols, theta_cols):
    dataframes = []

    for left, right, theta in zip(left_cols, right_cols, theta_cols):
        max_theta = df[theta].max()
        min_theta = df[theta].min()

        new_df = pd.DataFrame({'theta': np.arange(max_theta, min_theta - 0.01, -0.01)})
        #new_df[left] = np.nan
        #new_df[right] = np.nan

        #first_left = df[left].iloc[0]
        #last_left = df[left].iloc[-1]
        #first_right = df[right].iloc[0]
        #last_right = df[right].iloc[-1]
        #print(new_df)
        #print(df)
        #try:
        new_df = new_df.merge(df[[left, right, theta]], how='left', left_on='theta', right_on=theta)
        #except:
        print(new_df)


        new_df[left] = new_df[left].interpolate(method='linear')
        new_df[right] = new_df[right].interpolate(method='linear')

        new_df = new_df.drop(columns=[theta])
        print(new_df)

        dataframes.append(new_df)


    return dataframes
'''
        new_df.at[0, left] = first_left
        print(first_left)
        new_df.at[len(new_df) - 1, left] = last_left
        print(last_left)
        new_df.at[0, right] = first_right
        new_df.at[len(new_df) - 1, right] = last_right

        # interpolation
        new_df[left] = new_df[left].interpolate()
        new_df[right] = new_df[right].interpolate()

        '''


left_columns = ['Left_1', 'Left_2', 'Left_3', 'Left_4', 'Left_5']
right_columns = ['Right_1', 'Right_2', 'Right_3', 'Right_4', 'Right_5']
theta_columns = ['theta_1', 'theta_2', 'theta_3', 'theta_4', 'theta_5']

interpolated_dfs = create_interpolated_dataframes(df, left_columns, right_columns, theta_columns)

     theta  Left_1  Right_1  theta_1
0     0.00  9784.0  11332.0     0.00
1    -0.01  9572.0  11168.0    -0.01
2    -0.01  9356.0  10948.0    -0.01
3    -0.02     NaN      NaN      NaN
4    -0.03     NaN      NaN      NaN
..     ...     ...      ...      ...
119  -0.96  9368.0   7804.0    -0.96
120  -0.97     NaN      NaN      NaN
121  -0.98     NaN      NaN      NaN
122  -0.99     NaN      NaN      NaN
123  -1.00  9764.0   8080.0    -1.00

[124 rows x 4 columns]
     theta       Left_1       Right_1
0     0.00  9784.000000  11332.000000
1    -0.01  9572.000000  11168.000000
2    -0.01  9356.000000  10948.000000
3    -0.02  9274.666667  10853.333333
4    -0.03  9193.333333  10758.666667
..     ...          ...           ...
119  -0.96  9368.000000   7804.000000
120  -0.97  9467.000000   7873.000000
121  -0.98  9566.000000   7942.000000
122  -0.99  9665.000000   8011.000000
123  -1.00  9764.000000   8080.000000

[124 rows x 3 columns]
     theta   Left_2  Right_2  theta_2
0     0.00   9048.0  10184.0     0.00
1    -0.01      NaN      NaN      NaN
2    -0.02   8748.0   9864.0    -0.02
3    -0.02   8644.0   9748.0    -0.02
4    -0.03      NaN      NaN      NaN
..     ...      ...      ...      ...
123  -1.01      NaN      NaN      NaN
124  -1.02      NaN      NaN      NaN
125  -1.03      NaN      NaN      NaN
126  -1.04      NaN      NaN      NaN
127  -1.05  14024.0  10300.0    -1.05

[128 rows x 4 columns]
     theta   Left_2       Right_2
0     0.00   9048.0  10184.000000
1    -0.01   8898.0  10024.000000
2    -0.02   8748.0   9864.000000
3    -0.02   8644.0   9748.000000
4    -0.03   8548.0   9685.333333
..     ...      ...           ...
123  -1.01  12827.2   9810.400000
124  -1.02  13126.4   9932.800000
125  -1.03  13425.6  10055.200000
126  -1.04  13724.8  10177.600000
127  -1.05  14024.0  10300.000000

[128 rows x 3 columns]
     theta   Left_3  Right_3  theta_3
0     0.00  10868.0  12596.0     0.00
1    -0.01  10540.0  12368.0    -0.01
2    -0.01  10416.0  11976.0    -0.01
3    -0.02      NaN      NaN      NaN
4    -0.03      NaN      NaN      NaN
..     ...      ...      ...      ...
125  -1.04      NaN      NaN      NaN
126  -1.05      NaN      NaN      NaN
127  -1.06      NaN      NaN      NaN
128  -1.07      NaN      NaN      NaN
129  -1.08  14156.0  10696.0    -1.08

[130 rows x 4 columns]
     theta   Left_3  Right_3
0     0.00  10868.0  12596.0
1    -0.01  10540.0  12368.0
2    -0.01  10416.0  11976.0
3    -0.02  10292.0  11846.0
4    -0.03  10168.0  11716.0
..     ...      ...      ...
125  -1.04  13144.8  10177.6
126  -1.05  13397.6  10307.2
127  -1.06  13650.4  10436.8
128  -1.07  13903.2  10566.4
129  -1.08  14156.0  10696.0

[130 rows x 3 columns]
     theta   Left_4  Right_4  theta_4
0     0.00   8872.0  10056.0     0.00
1    -0.01   8580.0   9820.0    -0.01
2    -0.01   8488.0   9652.0    -0.01
3    -0.02      NaN      NaN      NaN
4    -0.03      NaN      NaN      NaN
..     ...      ...      ...      ...
123  -1.01      NaN      NaN      NaN
124  -1.02      NaN      NaN      NaN
125  -1.03      NaN      NaN      NaN
126  -1.04      NaN      NaN      NaN
127  -1.05  12960.0   9748.0    -1.05

[128 rows x 4 columns]
     theta        Left_4       Right_4
0     0.00   8872.000000  10056.000000
1    -0.01   8580.000000   9820.000000
2    -0.01   8488.000000   9652.000000
3    -0.02   8401.333333   9578.666667
4    -0.03   8314.666667   9505.333333
..     ...           ...           ...
123  -1.01  12035.200000   9296.800000
124  -1.02  12266.400000   9409.600000
125  -1.03  12497.600000   9522.400000
126  -1.04  12728.800000   9635.200000
127  -1.05  12960.000000   9748.000000

[128 rows x 3 columns]
     theta   Left_5  Right_5  theta_5
0     0.00   8872.0  10056.0     0.00
1    -0.01   8580.0   9820.0    -0.01
2    -0.01   8488.0   9652.0    -0.01
3    -0.02      NaN      NaN      NaN
4    -0.03      NaN      NaN      NaN
..     ...      ...      ...      ...
123  -1.01      NaN      NaN      NaN
124  -1.02      NaN      NaN      NaN
125  -1.03      NaN      NaN      NaN
126  -1.04      NaN      NaN      NaN
127  -1.05  12960.0   9748.0    -1.05

[128 rows x 4 columns]
     theta        Left_5       Right_5
0     0.00   8872.000000  10056.000000
1    -0.01   8580.000000   9820.000000
2    -0.01   8488.000000   9652.000000
3    -0.02   8401.333333   9578.666667
4    -0.03   8314.666667   9505.333333
..     ...           ...           ...
123  -1.01  12035.200000   9296.800000
124  -1.02  12266.400000   9409.600000
125  -1.03  12497.600000   9522.400000
126  -1.04  12728.800000   9635.200000
127  -1.05  12960.000000   9748.000000

[128 rows x 3 columns]

In [60]:
for index, df in enumerate(interpolated_dfs):
    filename = f'interpolated_df_11cm_{index + 1}.csv'
    df.to_csv(filename, index=False)